@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

:root {
  /* Colors */
  --bg-color: #000;
  --fg-color: 255, 255, 255;

  /* Alpha */
  --alpha-90: 0.9;
  --alpha-70: 0.7;
  --alpha-30: 0.3;

  /* Spacing */
  --spacing: 1.5rem;

  /* Layout */
  --container-max-width: 500px;
  --container-padding-y: 15vh;
  --container-padding-x: 1.5rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff;
    --fg-color: 0, 0, 0;
  }
}

/* Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout */

.container {
  margin: 0 auto;
  padding: var(--container-padding-y) var(--container-padding-x);
  max-width: var(--container-max-width);
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}
