/* Inter 500 */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

/* Tokens */

:root {
  /* Colors */
  --bg-color: #000;
  --fg-color: 255, 255, 255; /* Same as #fff */

  /* Alpha */
  --alpha-90: 0.9;
  --alpha-70: 0.7;
  --alpha-30: 0.3;

  /* Typography */
  --font-family: "Inter", sans-serif;
  --font-weight: 500;
  --line-height: 1.5;
  --font-size-md: 1.5rem;
  --font-size-lg: 2rem;

  /* Spacing */
  --spacing: 1.5rem;

  /* Layout */
  --container-max-width: 540px;
  --container-padding-y: 15vh;
  --container-padding-x: 1.5rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff;
    --fg-color: 0, 0, 0; /* Same as #000 */
  }
}

/* Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

/* Base */

body {
  background-color: var(--bg-color);
  color: rgb(var(--fg-color));

  font-family: var(--font-family);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
}

h1 {
  font-size: var(--font-size-lg);
  opacity: var(--alpha-90);
}

p {
  font-size: var(--font-size-md);
  opacity: var(--alpha-70);
}

a {
  color: inherit;

  text-decoration: underline;
  text-decoration-color: rgba(var(--fg-color), var(--alpha-30));
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;

  transition: text-decoration-color 0.2s ease;
}

a:hover {
  text-decoration-color: rgba(var(--fg-color), var(--alpha-70));
}

/* Layout */

.container {
  margin: 0 auto;
  padding: var(--container-padding-y) var(--container-padding-x);
  max-width: var(--container-max-width);
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}
